/* Resetando alguns estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte padrão */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Estilo do header */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #333;
}

.logo img {
    width: 160px;
    height: 150px;
}

/* Estilo da seção de contato */
.contato {
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contato h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo do formulário */
.formulario {
    display: flex;
    flex-direction: column;
}

.campo {
    margin-bottom: 20px;
}

.campo label {
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

.campo input,
.campo select,
.campo textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
    border-color: #007BFF;
}

.campo textarea {
    resize: vertical;
}

.radio-group {
    display: flex;
    gap: 15px;
}

.radio-group label {
    font-size: 16px;
}

.campo button {
    padding: 15px 30px;
    background-color: #333;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.campo button:hover {
    background-color: #444444;
}

/* Responsividade */
@media (max-width: 768px) {
    .contato {
        padding: 20px;
        margin: 20px;
    }
    
    .campo label {
        font-size: 16px;
    }

    .campo input,
    .campo select,
    .campo textarea {
        font-size: 14px;
    }

    .campo button {
        font-size: 16px;
    }
}
