
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #333;
}

.logo img {
    width: 160px;
    height: 150px;
}

.sobre {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

.foto-fabrica {
    width: 100%;
    margin-bottom: 40px;
}

.img-fabrica {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.texto-sobre {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.texto-sobre h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.texto-sobre p {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .texto-sobre h1 {
        font-size: 28px;
    }

    .texto-sobre p {
        font-size: 16px;
    }
}

.album {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.album h1 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 16px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
    .album h1 {
        font-size: 28px;
    }

    .prev, .next {
        padding: 10px;
        font-size: 20px;
    }
}